<% provide(:title, @team.teamname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="team_info">
      <h1>
        <%= @team.teamname %>
      </h1>
      <p>
        <%= @team.teamcolor %><br>
      </p>
    </section>
  </aside>
</div>