<li>
    <%= link_to sport.sportname,        sport %>  ||
    <% if current_user.admin? %>
      | <%= link_to "delete", sport, method: :delete,
                           data: { confirm: "Are You sure?" } %>
  <% end %>
</li>
