<% provide(:title, @sport.sportname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="sport_info">
      <h1>
        <%= @sport.sportname %>
      </h1>
      <h2>
        <%= label = "Participating Teams:" %>
      </h2>
        <ul class="teams">
          <% @sport.teams.each do |teams| %>
             <%= render teams %>
          <% end %>
          <br><br>

    </section>
        </ul>
      </p>
    </section>
  </aside>
</div>