<h1>Medals#show</h1>
<p>Find me in app/views/medals/show.html.erb</p>


<h2></h2>






<% provide(:title, @medal) %>
<div class="row">
  <aside class="col-md-4">
    <section class="medal_info">
      <h1>
        <%= @medal %>
      </h1>
    </section>
  </aside>
</div>