<% provide(:title, 'All Sports') %>
<h1>Sports List</h1>

<%= will_paginate %>

<ul class="sports">
  <% @sports.each do |sports| %>
      <%= render sports %>
  <% end %>
</ul>

<%= will_paginate %>

<br><br>

<p>
  <% if current_user.admin? %>
     <%= link_to "Create a Sport",      new_admin_sport_path %>
  <% end %>
</p>