<% provide(:title, 'All Teams') %>
<h1>Team List</h1>

<%= will_paginate %>

<ul class="teams">
  <% @teams.each do |teams| %>
      <%= render teams %>
  <% end %>
</ul>

<%= will_paginate %>

<br><br>

<p>
  <% if current_user.admin? %>
     <%= link_to "Create a Team",      new_admin_team_path %>
  <% end %>
</p>